.go-up-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #444;
  color: #fff;
  border: none;
  border-radius: 20%;
  padding: 12px;
  cursor: pointer;
  font-size: 20px;
  transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
  z-index: 1000;
}

.go-up-btn:hover {
  background: #000000;
  color: #fff;
  transform: translateY(-3px);
}
