.glossary-image-main-container {
 background-image: url('https://motionarray.imgix.net/preview-736491-xt36ePQvnliK9iU2-large.jpg?w=1400&q=60&fit=max&auto=format'); 
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;

  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative;
  margin-top: 25px;
}
